<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fronteira abertas</title>

  <link rel="shortcut icon" href="./image/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="../view/css/app.css" />
</head>

<body>
  <?php include 'header.html';?>
  <div class="container fluid">
    <div id="cards">
      <a class="card" href="/Web-Final/consulta_aluno">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">face</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Consulta Aluno</p>
        </div>
      </a>
      <a class="card" href="/Web-Final/consulta_empresa">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">work</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Consulta Empresa</p>
        </div>
      </a>
      <a class="card" href="/Web-Final/cadastro_aluno">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">face</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Cadastro Aluno</p>
        </div>
      </a>
      <a class="card" href="/Web-Final/cadastro_empresa">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">work</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Cadastro Empresa</p>
        </div>
      </a>
      <a class="card" href="/Web-Final/alterar_aluno">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">face</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Alterar Dados Aluno</p>
        </div>
      </a>
      <a class="card" href="/Web-Final/alterar_empresa">
        <div class="card-icon d-flex justify-content-center">
          <i class="material-icons">work</i>
          <i class="material-icons">search</i>
        </div>
        <div class="card-body">
          <p class="card-text">Alterar Dados Empresa</p>
        </div>
      </a>
    </div>
  </div>

  <?php include 'footer.html';?>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="../view/js/app.js"></script>
</body>

</html>